.home-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
}
.home-row-1 {
    display: flex;
    flex-direction: row;
}
.profile-container {
    /* height: 300px;
    width: 600px; */
    /* background-color: rgba(36, 29, 29, 0.356); */
    background-color: rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.profile-container *{
    margin: auto;
}
.profile-container .profile-img{
    height: 200px;
    border-radius: 50%;
    border: solid #4949499a;
    border-width: 2px;
    margin: auto;
    cursor: pointer;
}
.profile-container .profile-name {
    font-size: 40px;
}
.profile-container .profile-location {
    font-size: 30px;
}
.social-links {
    height: 100px;
    display: flex;
    flex-direction: row;
}
.social-links .social-links-img-container{
    height: 100%;
    width: 100px;
    display: flex;
}
.social-links .social-links-img{
    height: 60px;
    margin: auto;
    transition: all 0.5s;
}
.social-links .social-links-img:hover{
    height: 65px;
}
.intro-container {
    background-color: black;
    width: auto;
    font-size: large;
}
.intro-container *{
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: auto;
}
.home-container .row {
    /* background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 4s ease-in-out infinite;
    background-size: 400% 100%; */
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
}
.info-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.skills-container {
    background-color: rgb(0, 0, 0);
}
.interests-container {
    background-color: rgb(0, 0, 0);
}
.info-container * {
    margin-left: auto;
    margin-right: auto;
}
.row .info-container {
    width: 50%;
}
.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.skill-container span{
    margin: 5px;
    padding: 7px;
    border-radius: 20px;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0);
    /* transition: color 0.5s; */
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}