.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url("../public/dark-galaxy-background.jpg");
  /* background-image: url("../public/profile.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Source Sans Pro", sans-serif;;
}
.background-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

