.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.background-canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -1;
}

